<!-- <ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="welcomPage">
  <ion-row class="setRowHeight ion-align-items-end">
    <ion-col size="12" class="ion-text-center ion-align-self-start setImage">
      <img src="assets/icon/favicon.png" />
    </ion-col>
    <ion-col size="12" class="ion-align-self-end">
      <ion-button expand="block" color="danger" routerDirection="forward" routerLink="/login">Login</ion-button>
      <ion-button expand="block" color="medium" fill="outline" routerDirection="forward" routerLink="/signup">
        <ion-text color="danger">SignUp</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>