<ion-header mode="ios" color="danger">
  <ion-toolbar mode="ios" color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Product Details</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/cart">
        <span class="showCount">5</span>
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding productDetails">
  <h3 class="ion-no-margin ion-margin-bottom">Luxury Chair</h3>
  <ion-card class="ion-no-margin">
    <img src="assets/images/chair.jpg" />
    <ion-item lines="none">
      <ion-label>$1000</ion-label>
      <ion-icon name="star" slot="end" class="ion-no-margin" color="warning" size="small"></ion-icon>
      <ion-icon name="star" slot="end" class="ion-no-margin" color="warning" size="small"></ion-icon>
      <ion-icon name="star" slot="end" class="ion-no-margin" color="warning" size="small"></ion-icon>
      <ion-icon name="star-outline" slot="end" class="ion-no-margin" size="small"></ion-icon>
      <ion-icon name="star-outline" slot="end" class="ion-no-margin" size="small"></ion-icon>
      <ion-badge slot="end" class="ion-no-margin" color="success">144</ion-badge>
    </ion-item>
    <ion-row class="ion-padding-horizontal ion-padding-bottom">
      <ion-col size="6" class="ion-no-padding">
        <h5 class="ion-no-margin setQuentityText">Added Quentity</h5>
      </ion-col>
      <ion-col size="6" class="ion-no-padding setBorderQuantity">
        <table>
          <tbody>
            <tr>
              <td>
                <ion-icon name="add" color="danger" size="large" (click)="setQuantity('Add')"></ion-icon>
              </td>
              <td>
                <ion-input type="number" [value]="quantity" class="ion-text-center setinputFontSize" name="quantity"
                  [(ngModel)]="quantity" min="1" max="100"></ion-input>
              </td>
              <td>
                <ion-icon name="remove" color="danger" size="large" (click)="setQuantity('Remove')"></ion-icon>
              </td>
            </tr>
          </tbody>
        </table>
      </ion-col>
    </ion-row>
    <ion-card-content class="ion-no-padding ion-padding-horizontal">
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col size="2">
      <ion-button (click)="addToFav()" color="danger" fill="clear">
        <ion-icon name="heart-empty" color="danger" size="large"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="10">
      <ion-button (click)="addToCart()" expand="block" color="danger">
        Add To Cart
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>