.productDetails {
  .setQuentityText {
    margin: 13px auto;
  }
  .setBorderQuantity {
    border: 1px solid var(--ion-color-danger);
    .setinputFontSize {
      font-size: 18pt;
      --padding-start: 10px;
    }
  }
}
.showCount {
  font-size: 12px;
  position: absolute;
  top: 0px;
  right: 0px;
}
