.historyPage {
    .setCardPadding {
        padding: 10px;

        .setBorderRadius {
            border-radius: 10px;
        }

        .setIconMiddle {
            vertical-align: text-top;
        }

        .setTotalRow {
            background-color: #f2f2f2;
        }
    }
}